{% extends "base.html" %}

{% block content %}
  <h2>
    ТВОЕ - интернет-магазин одежды, обуви и аксессуаров
  </h2>
  <br>
<p>
  ТВОЕ – это российский бренд молодежной одежды, обуви и аксессуаров. Мы вдохновляемся высокой модой и искусством, захватывающими сюжетами и популярными героями, современными исполнителями и блогерами, чтобы создавать для тебя стильную одежду.
  <br>
  <br>
Главный приоритет ТВОЕ – качество по доступной цене, поэтому для нашей продукции мы выбираем лучшие материалы. В наших коллекциях вы найдете удобные вещи для своего гардероба - базовые повседневные футболки, толстовки, свитшоты, джинсы, спортивные брюки, а также модели с оригинальными дизайнерскими элементами.
  <br>
  <br>
ТВОЕ – это одежда для тебя! Мы регулярно создаем новые линейки одежды, которые отражают интересы и вкусы современной молодежи. Наши дизайнеры анализируют мировые модные коллекции и тренды, на основе которых создают популярные фасоны и оригинальные принты. Поэтому ТВОЕ – это одежда, которая подойдет для ярких образов и смелого самовыражения молодежи.
  <br>
  <br>
За свою 20-летнюю историю бренд сотрудничал со многими лидерами мнений, среди которых были артисты, блогеры, художники. Наши творческие коллаборации с Третьяковской галереей, Музеем русского импрессионизма, Максом Борисовым, Disney, Marvel и Warner Brothers стали одними из самых успешных. Не менее популярными были коллекции Hello Kitty, ВТ21, SCR Merch, UFC, VPSH (Вся Правда ШОУ), линейки по мотивам знаменитых Аниме, особенно Наруто и Death Note. И мы не собираемся на этом останавливаться!
  <br>
  <br>
ТВОЕ - это качественная одежда, доступная для всех. Сеть имеет производственные комплексы в России, Белоруссии, Молдавии и насчитывает более 340 розничных магазинов в четырех странах СНГ. Бренд занимает лидирующие позиции в сегменте online-продаж одежды и насчитывает десятки тысяч довольных покупателей.
  <br>
  <br>
ТВОЕ – это твой любимый магазин!
  <br>
</p>

{% endblock %}